 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: rgb(197, 100, 237, 1);
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Red Hat Display', sans-serif;
 }

 .login-form {
     border-radius: 15px;
     padding-bottom: 40px;
     width: 500px;
     background-color: white;
     margin-left: auto;
     margin-right: auto;
     margin-top: 46px;
     display: flex;
     flex-direction: column;
 }

 .login-form h1 {
     color: black;
     text-align: center;
 }

 .login-form h2 {
     color: black;
     font-size: 20px;
     padding: 12px;
 }

 .login-form input {
     margin: 10px;
     padding: 11px;
 }

 input::placeholder {
     font-weight: bold;
     font-size: 17px;
     text-align: left;
 }

 .login-form button {
     background-color: rgb(145, 76, 76);
     color: black;
     padding: 12px;
     margin: 24px 11px 24px 9px;
     cursor: pointer;
     border: 0;
     font-weight: bold;
 }

 .select {
     margin-left: 8px;
     width: 96%;
     padding: 10px;
 }
 .selected{
    font-weight: bold;
    font-size: 17px;
    text-align: left;

 }