@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Montserrat:wght@600;700&family=PT+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
body{
    max-height: 700px;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F262C;
    width: 100%;
}
.header h4{
    color: white;
    padding: 5px;
    font-size: 15px;
}
.aside{
    background-color: #1F262C;
    width: 12%;
    padding-top: 18px;
    padding-bottom: 27%;
}
.main-content{
    display: flex;
}

ul li{
    margin-top: 16px;
    font-size: 18px;
    list-style: none;
    color: white;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: blue; 
}
.page-content{
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background: #F1F1F1;
    width: 100%;
}
.box{
    background-color:  #e7e7e7;
    margin: 26px auto;
    width: 95%;
    padding: 60px;
}

.info-box{
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
.info-box h3{
    border-bottom: 2px gray;
    font-size: 24px;
}

.info-header{
    display: flex;
    justify-content: space-between;
}

.info-header button{
    color: white;
    background-color: #3058D5;
    font-weight: bold;
    padding: 11px 29px 11px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 15px;
}
.info-header button a{
    text-decoration: none;
    color: white;
}

.input-fields{
    padding: 13px;
   display: flex;
   justify-content: space-between;
   border: 0;
   outline: 0;
}

.course-field{
    margin-top: 7px;
    border: 2px solid #F7F7F7;
    width: 50%;
    padding: 6px;
}
.cat-field{
    margin-top: 7px;
    border: 2px solid #F7F7F7;
    padding: 7px;
}
.price-field{
    margin-top: 7px;
    border: 2px solid #F7F7F7;
    padding: 10px; 
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
  
    text-align: left;
    padding: 13px;
  }
  tr:nth-child(even) {
   background-color:  #E7E7E7;
  }
  table button{
    padding: 4px 15px 4px 15px;
    background-color: #3058D5;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }

  table button img{
    width: 12px;
  }